
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 178 46% 12%;
    --foreground: 0 0% 100%;

    --card: 177 40% 16%;
    --card-foreground: 0 0% 100%;

    --popover: 177 40% 16%;
    --popover-foreground: 0 0% 100%;

    --primary: 28 37% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 178 12% 57%;
    --secondary-foreground: 178 51% 10%;

    --muted: 178 51% 10%;
    --muted-foreground: 178 12% 57%;

    --accent: 28 37% 56%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 178 12% 57%;
    --input: 177 40% 16%;
    --ring: 28 37% 56%;

    --radius: 0.5rem;

    --sidebar-background: 178 46% 12%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 28 37% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 178 12% 57%;
    --sidebar-accent-foreground: 178 51% 10%;
    --sidebar-border: 178 12% 57%;
    --sidebar-ring: 28 37% 56%;
  }

  .dark {
    --background: 178 46% 12%;
    --foreground: 0 0% 100%;

    --card: 177 40% 16%;
    --card-foreground: 0 0% 100%;

    --popover: 177 40% 16%;
    --popover-foreground: 0 0% 100%;

    --primary: 28 37% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 178 12% 57%;
    --secondary-foreground: 178 51% 10%;

    --muted: 178 51% 10%;
    --muted-foreground: 178 12% 57%;

    --accent: 28 37% 56%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 178 12% 57%;
    --input: 177 40% 16%;
    --ring: 28 37% 56%;

    --sidebar-background: 178 46% 12%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 28 37% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 178 12% 57%;
    --sidebar-accent-foreground: 178 51% 10%;
    --sidebar-border: 178 12% 57%;
    --sidebar-ring: 28 37% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
