
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 180 27% 2%;
    --foreground: 0 0% 89%;

    --card: 180 27% 4%;
    --card-foreground: 0 0% 89%;

    --popover: 180 27% 4%;
    --popover-foreground: 0 0% 89%;

    --primary: 14 56% 41%;
    --primary-foreground: 0 0% 89%;

    --secondary: 213 37% 50%;
    --secondary-foreground: 0 0% 89%;

    --muted: 60 4% 40%;
    --muted-foreground: 0 0% 89%;

    --accent: 43 44% 55%;
    --accent-foreground: 180 27% 2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 89%;

    --border: 75 4% 68%;
    --input: 75 4% 68%;
    --ring: 43 44% 55%;

    --radius: 0.5rem;

    --sidebar-background: 180 27% 2%;
    --sidebar-foreground: 0 0% 89%;
    --sidebar-primary: 14 56% 41%;
    --sidebar-primary-foreground: 0 0% 89%;
    --sidebar-accent: 43 44% 55%;
    --sidebar-accent-foreground: 180 27% 2%;
    --sidebar-border: 75 4% 68%;
    --sidebar-ring: 43 44% 55%;
  }

  .dark {
    --background: 180 27% 2%;
    --foreground: 0 0% 89%;

    --card: 180 27% 4%;
    --card-foreground: 0 0% 89%;

    --popover: 180 27% 4%;
    --popover-foreground: 0 0% 89%;

    --primary: 14 56% 41%;
    --primary-foreground: 0 0% 89%;

    --secondary: 213 37% 50%;
    --secondary-foreground: 0 0% 89%;

    --muted: 60 4% 40%;
    --muted-foreground: 0 0% 89%;

    --accent: 43 44% 55%;
    --accent-foreground: 180 27% 2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 89%;

    --border: 75 4% 68%;
    --input: 75 4% 68%;
    --ring: 43 44% 55%;

    --sidebar-background: 180 27% 2%;
    --sidebar-foreground: 0 0% 89%;
    --sidebar-primary: 14 56% 41%;
    --sidebar-primary-foreground: 0 0% 89%;
    --sidebar-accent: 43 44% 55%;
    --sidebar-accent-foreground: 180 27% 2%;
    --sidebar-border: 75 4% 68%;
    --sidebar-ring: 43 44% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
